<!DOCTYPE html>
<html>
	<%- include partials/head.ejs %>
	<body>
		<div id="app-container" class="layout--landing">
			<%- include partials/nav.ejs %>
			<%- include partials/flash--form.ejs %>
			<%- include partials/curso-html__header.ejs %>

			<%- include partials/curso-html__perfil.ejs %>
			<%- include partials/section__contactenos.ejs %>

			<%- include partials/curso-html__oferta.ejs %>
			<%- include partials/curso-html__costo.ejs %>
			<%- include partials/curso-html__pedagogia.ejs %>

			<%- include partials/footer.ejs %>

		</div>
		<script src="/js/bundle.js"></script>

		<%- include partials/google-remarketing.ejs %>

	</body>
</html>
